<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../redux-mixin.html">
<link rel="import" href="../shared-styles.html">
<dom-module id="layout-drawer">
    <template>
        <style include="shared-styles">
            app-toolbar {
                background-color: var(--toolbar-color-primary);
                color: white;
                height: 48px;
                opacity: 87%;
            }

            /* #FAFAFA */

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--drawer-color-default);
                font-weight: thin;
                line-height: 40px;
                outline: none;
                font-family: MitrLight;
            }

            .drawer-list a.iron-selected {
                color: rgb(0, 176, 255);
                border-left: 4px solid var(--toolbar-color-primary);
            }

            .drawer-list>a:hover {
                background-color: rgba(0, 176, 255, 0.1);
            }

            .drawer-bar {
                background-color: var(--toolbar-color-primary);
                color: white;
            }

            .header-drawer {
                font-size: 1rem;
            }

            .header-icon {
                margin-right: 0.5rem;
            }

            .drawer-content {
                padding: 5px 16px;
                font-size: 14px;
                margin: 0.4rem 0;
            }

            .line {
                margin: 0.5rem 0;
                border-top: 1px solid #ddd;
            }

            .drawer-size {
                height: calc(100% - 48px);
                box-sizing: border-box;
                overflow-y: auto;
            }

            #drawer {
                z-index: 1;
            }
        </style>
        <app-drawer id="drawer" swipe-open>
            <app-toolbar>
                <iron-icon class="header-icon" icon="home" noink></iron-icon>
                <div class="header-drawer">จัดการข้อมูลพื้นฐาน</div>
            </app-toolbar>
            <div class="drawer-size">
                <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                    <div class="drawer-content">จัดการบทความ</div>
                    <a name="dashboard" href="[[rootPath]]blog">
                        <iron-icon icon="icons:dashboard"></iron-icon>
                        &nbsp;&nbsp;รายการบทความ
                    </a>
                    <a name="profile" href="[[rootPath]]content">
                        <iron-icon icon="icons:create"></iron-icon>
                        &nbsp;&nbsp;เขียนบทความ
                    </a>
                    <div class="line"></div>
                    <template is="dom-repeat" items="[[menu]]" index-as="num">
                        <div class="drawer-content">
                            [[item.title]]
                            <!-- <iron-icon on-click="showSubmenu" icon="icons:chevron-right"></iron-icon> -->
                        </div>
                        <!-- <iron-collapse id="collapse" opened> -->
                        <template is="dom-repeat" items="[[item.submenu]]">
                            <a name$="view[[num]][[index]]" href="[[rootPath]][[item.path]]">
                                <iron-icon icon="icons:description"></iron-icon>
                                &nbsp;&nbsp;[[item.name]]
                            </a>
                        </template>
                        <!-- </iron-collapse> -->
                        <div class="line"></div>
                    </template>
                    <a name="setting" href="[[rootPath]]">
                        <iron-icon icon="icons:settings"></iron-icon>
                        &nbsp;&nbsp;ตั้งค่า
                    </a>
                    <a name="exit" href="#" on-click="signOut">
                        <iron-icon icon="icons:exit-to-app"></iron-icon>
                        &nbsp;&nbsp;ออกจากระบบ
                    </a>
                </iron-selector>
            </div>
        </app-drawer>


    </template>

    <script>
        class layoutDrawer extends ReduxMixin(Polymer.Element) {

            static get is() {
                return 'layout-drawer';
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        value: ''
                    },
                    user: {
                        type: Object,
                        statePath: 'auth.user'
                    },
                    menu: {
                        type: Array,
                        statePath: 'layout.menu'
                    },
                    rootPath: String
                };
            }
            ready() {
                super.ready()
            }
            showSubmenu(e) {
                console.log(e.target)
                // this.$.collapse.toggle()
            }
            toggle() {
                this.$.drawer.toggle()
            }
            open() {
                this.$.drawer.open()
            }
            close() {
                this.$.drawer.close()
            }
            signOut() {
                localStorage.removeItem('user');
                window.location.reload()
            }
        }

        window.customElements.define(layoutDrawer.is, layoutDrawer);
    </script>
</dom-module>